# Google Cloud / Vertex AI
GOOGLE_CLOUD_PROJECT=
GOOGLE_CLOUD_LOCATION=us-central1
GOOGLE_APPLICATION_CREDENTIALS=asd.json

# Upstage Embedding
UPSTAGE_API_KEY=up_

# PostgreSQL Database
PG_HOST=
PG_PORT=
PG_USER=
PG_PASSWORD=
PG_DBNAME=
PG_VECTOR_DIMENSION=4096 # model: embedding-qurey(4096)

# MySQL 설정
MYSQL_DB_HOST=
MYSQL_DB_PORT=
MYSQL_DB_USER=
MYSQL_DB_PASSWORD=
MYSQL_DB_NAME=
MYSQL_DB_CHARSET=

# SSH 설정
MYSQL_SSH_HOST=
MYSQL_SSH_PORT=
MYSQL_SSH_USER=
MYSQL_SSH_PKEY_PATH=

# Langfuse 설정(클라우드 langfuse)
LANGFUSE_SECRET_KEY=sk-
LANGFUSE_PUBLIC_KEY=pk-
LANGFUSE_HOST=https://us.cloud.langfuse.com

# 구글 검색 API
GOOGLE_API_KEY=AIzaS
GOOGLE_CSE_ID=

# Backend API Base URL (Fill in actual URL)
API_BASE_URL=http://localhost:8080/api

# FastAPI Server
FASTAPI_HOST=0.0.0.0ß
FASTAPI_PORT=8101
DEBUG=False

LANGSMITH_TRACING=false
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=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
LANGSMITH_PROJECT=Function1-test-colab

# 로깅 설정
LOG_LEVEL=INFO
LOG_LANGCHAIN_LOG_LEVEL=WARNING
LOG_GOOGLE_LOG_LEVEL=WARNING

NGROK_AUTH_TOKEN=30DpoGkyfGTyT4DSFyjgTPfvrtE_EN2gP3zyWvmpG6D5dKtZ