# 모델 설정
LLM_PROVIDER="vertexai"
HALLUCINATION_LLM_PROVIDER="vertexai"
HALLUCINATION_MODEL_NAME="gemini-2.0-flash-001"
MODEL_NAME="gemini-1.5-pro-002"

# LangGraph 설정
RECURSION_LIMIT=15
VERBOSE_NODES=False


# openAI
# key
OPENAI_API_KEY=
# GCP 서비스 계정 키 파일 경로
GOOGLE_APPLICATION_CREDENTIALS=YOUR_GOOGLE_APPLICATION_CREDENTIALS
# Google Cloud 프로젝트 ID
GCP_PROJECT=YOUR_GCP_PROJECT
# Vertex AI 리전 (예: asia-northeast3, us-central1 등)
GCP_LOCATION="us-central1"

# 태빌리
TAVILY_API_KEY_tony_taek105=YOUR_TAVILY_KEY1
TAVILY_API_KEY_tony_0913=YOUR_TAVILY_KEY2
TAVILY_API_KEY_milo_1=YOUR_TAVILY_KEY3

# 랭스미스
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=YOUR_LANGSMITH_API_KEY
LANGSMITH_PROJECT=Generate_Description

# 랭퓨즈 설정
LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_HOST=

# 기타 설정
KMP_DUPLICATE_LIB_OK=True

# bright data web unlocker
PROXY1=YOUR_PROXY1
PROXY2=YOUR_PROXY2

# URL
BACKEND_URL="https://moongsan.com/"